div {
  background: linear-gradient(145deg, #a57878, #c48e8e);
  }
div.head {
  font-style: oblique;
  background: linear-gradient(145deg, #a57878, #c48e8e);
    opacity: 0.9;
}
div.h1 {
  font-style: oblique;
    opacity: 0.6;
    border-radius: 50px;
background: linear-gradient(145deg, #a57878, #c48e8e);
box-shadow:  26px 26px 52px #584040,
             -26px -26px 52px #ffcaca;
}
div.img {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.container {
  text-align: center;
  padding: 10px 10px;
}
div.contact {
  background: rgba( 171, 146, 146, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17.5px );
  -webkit-backdrop-filter: blur( 17.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
div.update {
  background: rgba( 171, 146, 146, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17.5px );
-webkit-backdrop-filter: blur( 17.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}