@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
div {
  background: linear-gradient(145deg, #a57878, #c48e8e);
  }
div.head {
  font-style: oblique;
  background: linear-gradient(145deg, #a57878, #c48e8e);
    opacity: 0.9;
}
div.h1 {
  font-style: oblique;
  background: rgba( 171, 146, 146, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17.5px );
  -webkit-backdrop-filter: blur( 17.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
div.img {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}
div.container {
  text-align: center;
  padding: 10px 10px;
}
div.contact {
  background: rgba( 171, 146, 146, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17.5px );
  -webkit-backdrop-filter: blur( 17.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
div.update {
  background: rgba( 171, 146, 146, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17.5px );
-webkit-backdrop-filter: blur( 17.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@keyframes hehe {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {left:-200px; top:px;}
  75%  {left:200px; top:0px;}
  100% {left:0px; top:0px;}
}

div.button {
  background-image: -webkit-linear-gradient(top #806767, #ad8b8b);
  background-image: -moz-linear-gradient(top, #806767, #ad8b8b);
  background-image: -ms-linear-gradient(top, #806767, #ad8b8b);
  background-image: -o-linear-gradient(top, #806767, #ad8b8b);
  background-image: linear-gradient(to bottom, #806767, #ad8b8b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  background: #967979;
  box-shadow:  20px 20px 60px #806767,
             -20px -20px 60px #ad8b8b;
}